<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Offer</title>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">{{restaurantName}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <ul class="navbar-nav ml-auto">
              <li class="nav-item" >
                <a class="nav-link" routerLink="/users_details/{{currentUserId}}">My Account({{currentUser}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="login" (click)="logout()">Log out</a>
              </li>
            </ul>
            </ul>
      </div>
    </div>
  </nav>
  <br/>
  <br/>
   <!-- Page Content -->
   <div class="container">
      <div class="div-center"> 
     
       <div class="div-offer">
         <div>
           <input type="text" placeholder="Search" style="width: 300px" [(ngModel)]="searchTerm">
         </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item offer-h400" *ngFor="let offer of filteredOffers; let i = index;">
          <div class="card h-100 offer-w220">
            <a (click)="openDialog(offer.idoffer)"><img class="card-img-top" src="./../../assets/img/{{offer.image}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a class="nav-link" style="color: #007bff;" (click)="openDialog(offer.idoffer)">{{offer.name}} </a>
                <!--{{i}}-->
              </h4>
              <p class="card-text">
                <span>{{offer.description}}</span><br>
                <span><b>{{offer.price}}  KM</b></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="div-toOrder"> 
      <app-sidebar></app-sidebar>
    </div> 
      </div>  
      </div>
      
 <!-- <div>
  
  <ul>
    <li *ngFor="let offer of offers">
       
      <ul>
        <li>{{offer.name}}</li>
        <li>{{offer.description}}</li>
        <li>{{offer.idrestaurant}}</li>
        <li><a mat-raised-button (click)="openDialog(offer.idoffer)" class="button-link">Naruci</a></li>
      </ul>
    </li>
  </ul>
  <button (click)="openDialog()">dialog</button>
</div> -->
</body>

</html>

