nav {
    background: #2D2E2E;
    height: 100%;
}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
         
            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
.div-formtoorder {
    
    text-align: center;
}  

.success {
    background: #c2e4e7;
    color: #484848;
    font-size: 15px;
    text-align: center;
    display: block;
    border-radius: 4px;
    height: 30px;
    font-weight: bold;
}
    
    
